.main-inner{
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 25px;
    -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
    -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
    background: rgba(250,250,250,0.6)
}
.posts-expand .post-meta{
    color: #333}
.v .vwrap .vheader.item2 .vinput {
    display: block;
    border: 1px solid #333;
    margin-bottom 10px;
}
.v .vwrap .vheader.item2 .vinput:focus{
    border-color: #333;
    }
.v .vicon{
    fill: red !important;
    }

