// Buttons
// --------------------------------------------------
$btn-default-bg                 = white;
$btn-default-color              = #555;
$btn-default-font-size          = $font-size-small;
$btn-default-border-width       = 2px;
$btn-default-border-color       = #555;
$btn-default-hover-bg           = #555;
$btn-default-hover-color        = #00bcd4;
$btn-default-hover-border-color = #00bcd4;
$link-hover-color               = #e24d4c;
$content-bg-color               = rgba(255,255,255,0.9);
$menu-item-bg-color             = rgba(114,193,90,.77);
$site-description-color         = #000
$site-state-item-name-color     = #000
// $link-color                     = #ffe