// Buttons
// --------------------------------------------------
$btn-default-bg                 = white;
$btn-default-color              = #00bcd4;
$btn-default-font-size          = $font-size-small;
$btn-default-border-width       = 2px;
$btn-default-border-color       = #00bcd4;
$btn-default-hover-bg           = #00bcd4;
$btn-default-hover-color        = #00bcd4;
$btn-default-hover-border-color = #00bcd4;
$link-hover-color               = #ffe
// $link-color                     = #ffe