// Buttons
// --------------------------------------------------
$btn-default-bg                 = none;
$btn-default-color              = #59c493;
$btn-default-font-size          = $font-size-small;
$btn-default-border-width       = 0;
$btn-default-border-color       = #59c493;
$btn-default-hover-bg           = none;
$btn-default-hover-color        = #59c493;
$btn-default-hover-border-color = #59c493;
$btn-default-radius             = 0;
$link-color                     = none;
$link-hover-color               = #59c493;
$content-bg-color               = rgba(255,255,255,0.9);
// $menu-item-bg-color             = rgba(114,193,90,.77);
$site-description-color         = #000;
$site-state-item-name-color     = #000;
$site-author-name-color         = #333;
$pagination-active-bg           = #fabf3a;
$pagination-active-border       = #fabf3a;
$pagination-active-color        = #fff;
$card-bg-color                  = #fff;
$grey-dark                      = #333;
$gainsboro                      = #46bd87;
$sidebar-nav-hover-color        = #46bd87;
$sidebar-highlight              = #46bd87;
$site-author-image-border-color = #46bd87;
$font-size-largest              = 1.2em
// $link-color                     = #ffe